extends layout

block content
  h1= title
  if guitar_list.length
    ul
      each guitar in guitar_list
        li
          a(href=guitar.url) #{guitar.name}
          |  (#{guitar.category.name})

  else
    p There are no guitars.